@media (max-width: 420px) {
    main {
        background-image: url('../../../assets/home/background-home-mobile.jpg');
        background-repeat: no-repeat;
        background-size:contain;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        width: 327px;
        text-align: center;
    }
    div {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4 {
        margin-top: 7rem;
    }
}
@media (min-width: 421px) {
    main {
        background-image: url('../../../assets/assets/home/background-home-desktop.jpg');
        height: 100vh;
    }
}