<section>
    <h4 id="title">01 PICK YOUR DESTINATION</h4>
    <div id="container">
    <img [src]="planet.images.webp" alt="" class="planets" id="mobile">
    <img [src]="planet.images.png" alt="" class="planets" id="desktop">
    <div id="content">
    <nav>
        <ul *ngFor="let planets of destinations">
        <a [routerLink]="['/destination', planets.name]" id={{planets.name}}><li>{{planets.name | uppercase}}</li></a>
        </ul>
    </nav>

    <h2>{{planet.name | uppercase}}</h2>
    <div class="description">
        <p>{{planet.description}}</p>
    </div>
    

    <article>
        <div class="numb-container"><p>AVG. DISTANCE </p>
            <p class="numbers">{{planet.distance | uppercase}}</p></div>
        <div class="numb-container"><p>EST. TRAVEL TIME  </p>
            <p class="numbers">{{planet.travel | uppercase}}</p></div>
        
        
    </article>
</div>
</div>
</section>

