<!-- Alright, so this site is pretty straightforward. It's a lot of 
CSS with a lot of routing. I'm not 100% sure how I'm gonna get the data 
on page and print it. Baby steps. 
Data: highly considering the firebase approach and http requests. 
This isn't the best way, I feel, but would be the best way to go about it
Routing: This is only an issue because I have no practice with child 
routing. I think if I get at least one page worked on and routed up
I think I will be alright. Would only be a matter of replicating that 
across the app. -->

<router-outlet></router-outlet>