<header id="desktop">
    <img src="../../../assets/shared/logo.svg" alt="logo">
    <nav>
        <a routerLink="home" routerLinkActive="active"><li>00 Home</li></a>
        <a [routerLink]="['/destination', 'moon']" routerLinkActive="active"><li>01 Destination</li></a>
        <a [routerLink]="['/crew', 'Douglas Hurley']" routerLinkActive="active"><li>02 Crew</li></a>
        <a [routerLink]="['/technology', 'Launch vehicle']" routerLinkActive="active"><li>03 Technology</li></a>
    </nav>
</header>



<section id="mobile">
  <header  class="backDrop" id="backDrop">
    <img class="navLogo" src="../../../assets/shared/logo.svg" alt="logo">
    <button id="hamburger displayBlock" (click)="toggleNavModal()"><img src="../../../assets/shared/icon-hamburger.svg" alt=""></button>
    <nav id="mySidenav" class="sidenav displayNone">
        <button id="closeButton" class="displayNone" (click)="toggleNavModal()"><img src="../../../assets/shared/icon-close.svg" alt=""></button>
        <a routerLink="home" routerLinkActive="active"><li>00 Home</li></a>
        <a [routerLink]="['/destination', 'moon']" routerLinkActive="active"><li>01 Destination</li></a>
        <a [routerLink]="['/crew', 'Douglas Hurley']" routerLinkActive="active"><li>02 Crew</li></a>
        <a [routerLink]="['/technology', 'Launch vehicle']" routerLinkActive="active"><li>03 Technology</li></a>
    </nav>
  </header>
</section> 
