<section >
    <h4 id="banner">03 SPACE LAUNCH 101</h4>
    <div id="container">
    <img [src]="tech.images.landscape" alt="" id="mobile">
    <img [src]="tech.images.portrait" alt="" id="desktop">

    <nav>
        <div *ngFor="let vehicles of tools ; let i = index" class="nav-bubbles">
        <a [routerLink]="['/technology', vehicles.name]" id={{vehicles.name}} routerLinkActive="active"><p>{{i + 1}}</p></a>
        </div>
    </nav>
    <div id="content">
    <h4 id="title"> THE TERMINOLOGY ... </h4>
    <h2 id="name">{{tech.name | uppercase}}</h2>
    <p class="fix">{{tech.description}}</p>
    </div>
</div>
</section>