/* You can add global styles to this file, and also import other style files */
/* font-family: 'Barlow', sans-serif;

font-family: 'Barlow Condensed', sans-serif;

font-family: 'Bellefair', serif; */
h1 {
    font-family: 'Bellefair', serif;
    color: #ffffff;
    font-size: 80px;
}
h2 {
    font-family: 'Bellefair', serif;
    color: #ffffff;
    font-size: 56px;
}
h4 {
    font-family: 'Barlow Condensed', sans-serif;
    color: #ffffff;
    font-size: 16px;
}
h3 {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    color: black;
}
p {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: #D0D6F9;
    opacity: 0.9;
}