@media (max-width: 420px) {
    main {
        background-image: url('../../../assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 421px) {
    main {
        background-image: url('../../../assets/crew/background-crew-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 150vh;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}